name: Build mlc-llm

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: sfoxdev/mlc-llm

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build \
            -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .

      - name: Push Image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Running tests
        run: |
          docker run --rm ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
            pytest /tests

      - name: Extract dist
        run: |
          docker run --name builder-container ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} build
          docker cp builder-container:/src/mlc-llm/python/dist ./dist
          docker rm builder-container

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
#        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*.whl
          tag_name: "v0.1.0-manual"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: '13.1.0'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build MLC-LLM
        shell: pwsh
        run: |
          # Install dependencies
          pip install --upgrade pip wheel setuptools
          pip install pytest tqdm requests fastapi shortuuid prompt_toolkit pydantic
          git clone --recursive https://github.com/mlc-ai/mlc-llm.git
          cd mlc-llm
          # Configure and Build
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 `
            -DUSE_CUDA=ON `
            -DUSE_VULKAN=OFF `
            -DUSE_OPENCL=ON `
            -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build . --config Release

      - name: Runtime Validation
        shell: pwsh
        run: |
          dir $PWD/mlc-llm/build/tvm/Release
          dir $PWD/mlc-llm/build/Release
          # Python modules
          $env:PYTHONPATH = "$PWD/mlc-llm/python;$env:PYTHONPATH"
          # DLL paths
          $env:PATH = "$PWD/mlc-llm/build/tvm/Release;$env:PATH"
          $env:PATH = "$PWD/mlc-llm/build/Release;$env:PATH"
          python -c "import tvm; print('Validation Passed')"
          python -c "import mlc_llm; print('Validation Passed')"

      - name: Generate Wheel
        shell: pwsh
        run: |
          cd python
          python setup.py bdist_wheel

      - name: Release Windows Wheel
        uses: softprops/action-gh-release@v2
#        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: python/dist/*.whl
          tag_name: "v0.1.0-manual"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
